@mixin respond($breakpoint) {
    @if $breakpoint == smallPhone {
        @media (max-width: 460px) { @content };
    }
    @if $breakpoint == phone {
        @media (min-width: 461px) { @content };
    }
    @if $breakpoint == tablet {
        @media (min-width: 768px) { @content };
    }
    @if $breakpoint == desktop {
        @media (min-width: 1000px) { @content };
    }
    @if $breakpoint == largeDesktop {
        @media (min-width: 1800px) { @content };
    }
}

@include respond(tablet){
                
}

@include respond(smallPhone){
                
}

#about-section {
    margin: 15rem auto 0;
    width: 100%;
    
    @include respond(smallPhone){
        margin: 4rem 0;    
    }
    @include respond(phone){
        margin: 4rem 0;
    }
    @include respond(tablet){
        margin: 4rem 0;
    }
}

.about-bio {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    align-items: center;

    @include respond(smallPhone){
        flex-direction: column;     
    }
    @include respond(phone){
        flex-direction: column;
    }
    @include respond(tablet){
        flex-direction: column;      
    }

    .about-img {
        width: 20rem;
        height: 20rem;
    
        img {
            border-radius: 30px;

            @include respond(smallPhone){
                width: 17rem;
                margin: 0 auto;     
            } 
        }
        
        @include respond(smallPhone){
            margin: 0rem;     
        }
        @include respond(phone){
            margin: 0 0 2rem;
        }
        @include respond(tablet){
            margin: 0 0 2rem;     
        }
    }

    .about-bio-text {
        width:60%;

        @include respond(smallPhone){
            width: 80%;
            margin: 0 auto;   
        }
        @include respond(phone){
            width: 80%;
            margin: 0 auto;
        }
        @include respond(tablet){
            width: 80%;
                margin: 0 auto; 
        }
        

        h2 {
            font-size: 1.5rem;
            text-align: left;
            margin: 0 1rem;

            @include respond(smallPhone){
                font-size: 1.15rem;
                text-align: center; 
            }
            @include respond(phone){
                font-size: 1.15rem;
            }
            @include respond(tablet){
                font-size: 1.5rem;
            }
        }

        p {
            font-size: 1.25rem;
            text-align: left;
            margin: 1rem 1rem 0;

            @include respond(smallPhone){
                font-size: 1rem;
                text-align: center;
            }
            @include respond(phone){
                font-size: 1rem;
            }
            @include respond(tablet){
                font-size: 1.25rem;
            }
        }
    }
}

.about-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 7rem 0;
    align-items: center;

    @include respond(smallPhone){
        width: 80%;
        margin: 2rem 0 0 2rem;  
    }
    @include respond(phone){
        width: 80%;
        margin: 2rem 0 0 2rem;
    }
    @include respond(tablet){
        width: 80%;
        margin: 2rem 0 0 2rem;
    }

    h3 {
        font-size: 1.5rem;
        @include respond(smallPhone){
            font-size: 1.15rem;
            margin: 0 1rem; 
        }
        @include respond(phone){
            font-size: 1.15rem;
        }
    }

    .about-div {
        width: 10%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        @include respond(smallPhone){
            margin: 0 3rem;
        }
        @include respond(phone){
            margin: 0 2rem;
        }
        @include respond(tablet){
            margin: 0 2rem;
        }

        .about-skill-logo {
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
        
            &:first-child {
                margin-left: 2rem;
            }

            @include respond(phone){
                margin: 0 .5rem .5rem 0;
            }
        }

        .about-skill-name {
            font-size: 1.3rem;
            margin-left: .5rem;
            @include respond(phone){
                margin: 0;
            }
        }
    }
}