@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 640px) { @content };
    }
    @if $breakpoint == tablet {
        @media (min-width: 641px) { @content };
    }
    @if $breakpoint == desktop {
        @media (min-width: 1100px) { @content };
    }
    @if $breakpoint == largeDesktop {
        @media (min-width: 1600px) { @content };
    }
}

#about-section {
    margin: 4rem auto;
    width: 100%;
    
    @include respond(tablet){
        margin: 8rem auto;
    }
    @include respond(desktop){
        margin: 9rem auto;    
    }
    @include respond(largeDesktop){
        margin: 10rem auto;    
    }


    .about-bio {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
        align-items: center;

        @include respond(phone){
            flex-direction: column;
        }
        @include respond(tablet){
            flex-direction: column;    
            width: 75%;
        }
        @include respond(desktop){
            flex-direction: row;
        }

        .about-img {
            img {
                border-radius: 30px;
                margin: 0 auto 2rem;
            }
            
            @include respond(tablet){
                width: 55%;  
            }
            @include respond(desktop){
                width: 50%;
            }
            @include respond(largeDesktop){
                width: 40%;
            }
        }

        .about-bio-text {
            margin: 0 auto; 

            @include respond(desktop){
                width: 60%;
                margin: 0 0 0 2rem;
            }
            

            h2 {
                color: black;
                text-decoration: none;
                font-size: 1.25rem;
                text-align: center;
                
                @include respond(tablet){
                    font-size: 1.5rem;
                }
                @include respond(desktop){
                    font-size: 2rem;
                    text-align: left;
                    margin-left: 1rem;
                }
                @include respond(largeDesktop){
                    font-size: 2rem; 
                }
            }

            p {
                font-size: 1.15rem;
                text-align: center;
                margin: 1rem auto 0;

                @include respond(tablet){
                    font-size: 1.25rem;
                }
                @include respond(desktop){
                    font-size: 1.4rem;
                    text-align: left;
                    margin-left: 1rem;
                }
                @include respond(largeDesktop){
                    font-size: 1.5rem; 
                }
            }
        }
    }

    .about-skills {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 2rem auto 0;

        h3 {
            font-size: 1.25rem;
            margin-bottom: 0;

            @include respond(phone){
                margin-bottom: .5rem;
            }
            @include respond(tablet){
                font-size: 1.5rem;
            }
            @include respond(desktop){
                font-size: 1.75rem;
                margin-right: 1rem;
            }
            @include respond(largeDesktop){
                font-size: 2rem;
                margin-right: 0; 
            }
        }

        .about-div {
            width: 25%;
            margin: .25rem 2rem;
            display: flex;
            justify-content: center;

            @include respond(phone){
                margin: .25rem 2rem;
            }
            @include respond(tablet){
                width: 20%;
                margin: .5rem 0;
            }
            @include respond(desktop){
                width: 15%;
            }
            @include respond(largeDesktop){
                width: 16%;
            }

            .about-skill-logo {
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                margin-right: .75rem;

                @include respond(tablet){
                    margin-right: .25rem;
                }
                @include respond(desktop){
                    width: 3rem;
                    height: 3rem;
                    min-width: 3rem;
                    margin-right: .5rem;
                }
            }

            .about-skill-name {
                font-size: 1.3rem;

                @include respond(tablet){
                    font-size: 1.5rem;
                }
                @include respond(desktop){
                    font-size: 1.75rem;
                }
            }
        }
    }
}