@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 640px) { @content };
    }
    @if $breakpoint == tablet {
        @media (min-width: 641px) { @content };
    }
    @if $breakpoint == desktop {
        @media (min-width: 1100px) { @content };
    }
    @if $breakpoint == largeDesktop {
        @media (min-width: 1600px) { @content };
    }
}

.App {
    text-align: center;
    width: 100%;
    background-color: white;
}