@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 640px) { @content };
    }
    @if $breakpoint == tablet {
        @media (min-width: 641px) { @content };
    }
    @if $breakpoint == desktop {
        @media (min-width: 1100px) { @content };
    }
    @if $breakpoint == largeDesktop {
        @media (min-width: 1600px) { @content };
    }
}

@include respond(largeDesktop){
                
}

#contact-section {
    padding: 5rem 0;
    background-color: #010b39;

    @include respond(tablet){
        padding: 12rem 0 8rem;   
    }
    @include respond(desktop){
        padding: 14rem 0 8rem;      
    }
    @include respond(largeDesktop){
        padding: 18rem 0 8rem;    
    }
}
    h2 {
        text-decoration: underline;
        text-decoration-thickness: 10px;
        color: #fff;

        font-size: 2.5rem;
        margin-bottom: 2rem;

        @include respond(tablet){
            font-size: 2.5rem;
            margin-bottom: 4rem;
        }
        @include respond(largeDesktop){
            font-size: 3rem;
            margin-bottom: 2rem;   
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;

        @include respond(phone){
            font-size: 1.1rem;     
        }
        @include respond(tablet){
            font-size: 1.25rem;
            width: 100%;    
        }
        @include respond(desktop){
            width: 80%;       
        }
        @include respond(largeDesktop){
            font-size: 1.25rem;
            width: 70%;   
        }

        div {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            @include respond(tablet){
                width: 65%;    
            }
        }

        input {
            height: 3rem;
        }

        textarea {
            height: 10rem;
            @include respond(largeDesktop){
                height: 15rem;
            }
        }
    }

    .contact-button {
        background-color: #010b39;
        border: 2px solid crimson;
        border-radius: 10px;
        color: crimson;
        font-size: 1.5rem;
        padding: .5rem 2rem;

        &:hover {
            color:#fff;
            background-color: crimson;
            cursor: pointer;
        }

        @include respond(phone){
            width: 50%;
            margin: 2rem auto 0;      
        }
        @include respond(tablet){
            width: 30%;
            margin: 1rem auto 0;  
        }
        @include respond(desktop){
            width: 20%;
            margin: 2rem auto 0;        
        }
        @include respond(largeDesktop){
            width: 15%;
            margin: 2rem auto 0; 
        }
    }

    #contact-section-success {
        padding: 5rem 0 10rem;
        background-color: #010b39;

        @include respond(tablet){
            padding: 12rem 0 13rem;   
        }
        @include respond(desktop){
            padding: 14rem 0 13rem;      
        }
        @include respond(largeDesktop){
            padding: 18rem 0 13rem;    
        }
    }


    .contact-success {
        color: #fff;
        font-size: 2rem;
        margin: 3rem 0 0;

        @include respond(phone){
            font-size: 2.5rem;   
        }
        @include respond(tablet){
            font-size: 3rem; 
        }
        @include respond(desktop){
            font-size: 3.5rem; 
            margin-bottom: 3rem;     
        }
    }