@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 640px) { @content };
    }
    @if $breakpoint == tablet {
        @media (min-width: 641px) { @content };
    }
    @if $breakpoint == desktop {
        @media (min-width: 1100px) { @content };
    }
    @if $breakpoint == largeDesktop {
        @media (min-width: 1600px) { @content };
    }
}

.footer {
    background-color: #000620;
    color: #fff;
    padding: 2rem 0 2rem;

    @include respond(phone){
        padding: 1rem 0 1rem;        
    }
}