@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 640px) { @content };
    }
    @if $breakpoint == tablet {
        @media (min-width: 641px) { @content };
    }
    @if $breakpoint == desktop {
        @media (min-width: 1100px) { @content };
    }
    @if $breakpoint == largeDesktop {
        @media (min-width: 1600px) { @content };
    }
}

.navbar {
    display: flex;
    border-bottom: .5px solid rgb(121, 121, 121);
    justify-content: space-between;
    box-shadow: 0px .5px 5px .5px #888888;
    padding: 1rem 0;

    width: 100%;
    // box-sizing: border-box;
    align-items: center;
    background-color: #eee;
    transition: all .7s ease-in;
}

// ANIMATED SCROLL NAVBAR INSTEAD OF FIXED NAVBAR  
.scrolled {
    display: flex;
    border-bottom: .5px solid rgb(121, 121, 121);
    justify-content: space-between;
    box-shadow: 0px .5px 5px .5px #888888;
    padding: 1rem 0;

    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #eee;
    transition: all .7s ease-in;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-links {
    display: flex;
    margin: 0 0 0 1rem;
    font-size: 1rem;
    @include respond(tablet){
        font-size: 1.25rem;         
    }
    @include respond(largeDesktop){
        font-size: 1.5rem;       
    }

    div {
        padding: 0 .3rem;

        &:hover {
            color: crimson;
            cursor: pointer;
        }
        @include respond(tablet){
            padding: 0 .5rem;        
        }
        @include respond(largeDesktop){
            padding: 0 1rem;  
        }
    }
}

.social-links {
    display: flex;
    margin: 0 1rem 0;

    img {
        width: 2rem;
        min-width: 1rem;
    }

    a {
        margin: 0 .25rem;

        @include respond(desktop){
            margin: 0 .5rem;       
        }
    }
}