@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media (max-width: 640px) { @content };
  }
  @if $breakpoint == tablet {
      @media (min-width: 641px) { @content };
  }
  @if $breakpoint == desktop {
      @media (min-width: 1100px) { @content };
  }
  @if $breakpoint == largeDesktop {
      @media (min-width: 1600px) { @content };
  }
}

#work-section {
  padding: 5rem 0;
  background-color: #010b39;

  @include respond(tablet){
    padding: 6rem 0;      
  }
  @include respond(desktop){
    padding: 8rem 0;      
  }

  h2 {
    color: white;
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-thickness:10px;
    margin-bottom: 2rem;

    @include respond(tablet){
      font-size: 3rem; 
      margin-bottom: 4rem;
    }
    @include respond(desktop){
      font-size: 3.5rem; 
      margin-bottom: 3rem;
    }
  }

  .work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

    @include respond(phone){
      flex-direction: column;
      align-items: center;     
    }
    @include respond(tablet){
      flex-direction: column;
      align-items: center;         
    }
    @include respond(desktop){
      flex-direction: row;     
    }
  }

  .works {
    width: 100%;
    display: flex;
    justify-content: center;

    @include respond(phone){
      margin: 0 0 3rem;       
    }
    @include respond(tablet){
      margin: 0 0 3rem;        
    }
    @include respond(desktop){
      width: 45%;
      margin: 1.5rem 1.5rem;    
    }
    @include respond(largeDesktop){
      width: 33%;
      margin: 2rem 1rem;
    }

    .work-img {
      width: 30rem;
      height: 30rem;

      border-radius: 15px;
    
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @include respond(phone){
        width: 20rem;
        height: 20rem;
      }
    }

    .work-hover {
      background-color: rgb(0, 0, 0);
      opacity: .85;
      color: white;
      border-radius: 15px;
      animation: fadeIn .3s;
      @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: .85;}
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      padding: 5rem .1rem;

      @include respond(tablet){
        padding: 8.9rem .1rem;
      }
      @include respond(desktop){
        padding: 8.5rem .1rem;
      }

      .work-name {
        align-items: center;
        font-weight: bolder;

        font-size: 1.5rem;
        margin-top: 2rem;

        @include respond(tablet){
          font-size: 2.5rem;
          margin-top: .5rem;
        }
        @include respond(desktop){
          font-size: 2.5rem;
          margin-top: .5rem;
        }
      }

      .work-tech {
        color: crimson;
        font-weight: bolder;

        font-size: 1.2rem;
        margin: .25rem 0 1rem;

        @include respond(tablet){
          font-size: 1.5rem;
          margin: .5rem 0 2rem;
        }
        @include respond(desktop){
          font-size: 1.75rem;
          margin: .5rem 0 2rem;
        }
      }

      .work-button {
        text-transform: uppercase;
        border: 3px solid crimson;
        border-radius: 10px;
        color: crimson;
        justify-content: center;
        font-weight: 700;
        width: 30%;
        
        padding: .5rem 1rem;
    
        &:hover {
            color: #fff;
            background-color: crimson;
            cursor: pointer;
            transition: .3s;
        }

        font-size: 1rem;
        margin: 0 auto 0;

        @include respond(tablet){
          font-size: 1.25rem;
          margin: 0 auto 0;
        }
        @include respond(desktop){
          font-size: 1.5rem;
          margin: 0 auto 0;
        }
      }
    }
  }
}