#about-section {
  margin: 4rem auto;
  width: 100%;
  background-color: white;
}
@media (min-width: 641px) {
  #about-section {
    margin: 8rem auto;
  }
}
@media (min-width: 1100px) {
  #about-section {
    margin: 9rem auto;
  }
}
@media (min-width: 1600px) {
  #about-section {
    margin: 10rem auto;
  }
}
#about-section .about-bio {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 640px) {
  #about-section .about-bio {
    flex-direction: column;
  }
}
@media (min-width: 641px) {
  #about-section .about-bio {
    flex-direction: column;
    width: 75%;
  }
}
@media (min-width: 1100px) {
  #about-section .about-bio {
    flex-direction: row;
    width: 65%;
  }
}
#about-section .about-bio .about-img img {
  border-radius: 30px;
  margin: 0 auto 2rem;
}
@media (min-width: 641px) {
  #about-section .about-bio .about-img {
    width: 55%;
  }
}
@media (min-width: 1100px) {
  #about-section .about-bio .about-img {
    width: 50%;
  }
}
@media (min-width: 1600px) {
  #about-section .about-bio .about-img {
    width: 35%;
  }
}
#about-section .about-bio .about-bio-text {
  margin: 0 auto;
}
@media (min-width: 1100px) {
  #about-section .about-bio .about-bio-text {
    width: 60%;
    margin: 0 0 0 2rem;
  }
}
#about-section .about-bio .about-bio-text h2 {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
}
@media (min-width: 641px) {
  #about-section .about-bio .about-bio-text h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) {
  #about-section .about-bio .about-bio-text h2 {
    font-size: 2rem;
    text-align: left;
    margin-left: 1rem;
  }
}
@media (min-width: 1600px) {
  #about-section .about-bio .about-bio-text h2 {
    font-size: 2rem;
  }
}
#about-section .about-bio .about-bio-text p {
  color: black;
  font-size: 1.15rem;
  text-align: center;
  margin: 1rem auto 0;
}
@media (min-width: 641px) {
  #about-section .about-bio .about-bio-text p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1100px) {
  #about-section .about-bio .about-bio-text p {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 1rem;
  }
}
@media (min-width: 1600px) {
  #about-section .about-bio .about-bio-text p {
    font-size: 1.45rem;
  }
}
#about-section .about-skills {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto 0;
}
#about-section .about-skills h3 {
  font-size: 1.25rem;
  margin-bottom: 0;
  color: black;
}
@media (max-width: 640px) {
  #about-section .about-skills h3 {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 641px) {
  #about-section .about-skills h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) {
  #about-section .about-skills h3 {
    font-size: 1.75rem;
    margin-right: 1rem;
  }
}
@media (min-width: 1600px) {
  #about-section .about-skills h3 {
    font-size: 2rem;
    margin-right: 0;
  }
}
#about-section .about-skills .about-div {
  width: 25%;
  margin: 0.25rem 2rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 640px) {
  #about-section .about-skills .about-div {
    margin: 0.25rem 2rem;
  }
}
@media (min-width: 641px) {
  #about-section .about-skills .about-div {
    width: 20%;
    margin: 0.5rem 0;
  }
}
@media (min-width: 1100px) {
  #about-section .about-skills .about-div {
    width: 15%;
  }
}
@media (min-width: 1600px) {
  #about-section .about-skills .about-div {
    width: 16%;
  }
}
#about-section .about-skills .about-div .about-skill-logo {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  margin-right: 0.75rem;
}
@media (min-width: 641px) {
  #about-section .about-skills .about-div .about-skill-logo {
    margin-right: 0.25rem;
  }
}
@media (min-width: 1100px) {
  #about-section .about-skills .about-div .about-skill-logo {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    margin-right: 0.5rem;
  }
}
#about-section .about-skills .about-div .about-skill-name {
  font-size: 1.3rem;
  color: black;
}
@media (min-width: 641px) {
  #about-section .about-skills .about-div .about-skill-name {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) {
  #about-section .about-skills .about-div .about-skill-name {
    font-size: 1.75rem;
  }
}

/*# sourceMappingURL=about.css.map */
