#about-section {
  margin: 15rem auto 0;
  width: 100%;
}
@media (max-width: 460px) {
  #about-section {
    margin: 4rem 0;
  }
}
@media (min-width: 461px) {
  #about-section {
    margin: 4rem 0;
  }
}
@media (min-width: 768px) {
  #about-section {
    margin: 4rem 0;
  }
}

.about-bio {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 460px) {
  .about-bio {
    flex-direction: column;
  }
}
@media (min-width: 461px) {
  .about-bio {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .about-bio {
    flex-direction: column;
  }
}
.about-bio .about-img {
  width: 20rem;
  height: 20rem;
}
.about-bio .about-img img {
  border-radius: 30px;
}
@media (max-width: 460px) {
  .about-bio .about-img img {
    width: 17rem;
    margin: 0 auto;
  }
}
@media (max-width: 460px) {
  .about-bio .about-img {
    margin: 0rem;
  }
}
@media (min-width: 461px) {
  .about-bio .about-img {
    margin: 0 0 2rem;
  }
}
@media (min-width: 768px) {
  .about-bio .about-img {
    margin: 0 0 2rem;
  }
}
.about-bio .about-bio-text {
  width: 60%;
}
@media (max-width: 460px) {
  .about-bio .about-bio-text {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 461px) {
  .about-bio .about-bio-text {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .about-bio .about-bio-text {
    width: 80%;
    margin: 0 auto;
  }
}
.about-bio .about-bio-text h2 {
  font-size: 1.5rem;
  text-align: left;
  margin: 0 1rem;
}
@media (max-width: 460px) {
  .about-bio .about-bio-text h2 {
    font-size: 1.15rem;
    text-align: center;
  }
}
@media (min-width: 461px) {
  .about-bio .about-bio-text h2 {
    font-size: 1.15rem;
  }
}
@media (min-width: 768px) {
  .about-bio .about-bio-text h2 {
    font-size: 1.5rem;
  }
}
.about-bio .about-bio-text p {
  font-size: 1.25rem;
  text-align: left;
  margin: 1rem 1rem 0;
}
@media (max-width: 460px) {
  .about-bio .about-bio-text p {
    font-size: 1rem;
    text-align: center;
  }
}
@media (min-width: 461px) {
  .about-bio .about-bio-text p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .about-bio .about-bio-text p {
    font-size: 1.25rem;
  }
}

.about-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 7rem 0;
  align-items: center;
}
@media (max-width: 460px) {
  .about-skills {
    width: 80%;
    margin: 2rem 0 0 2rem;
  }
}
@media (min-width: 461px) {
  .about-skills {
    width: 80%;
    margin: 2rem 0 0 2rem;
  }
}
@media (min-width: 768px) {
  .about-skills {
    width: 80%;
    margin: 2rem 0 0 2rem;
  }
}
.about-skills h3 {
  font-size: 1.5rem;
}
@media (max-width: 460px) {
  .about-skills h3 {
    font-size: 1.15rem;
    margin: 0 1rem;
  }
}
@media (min-width: 461px) {
  .about-skills h3 {
    font-size: 1.15rem;
  }
}
.about-skills .about-div {
  width: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 460px) {
  .about-skills .about-div {
    margin: 0 3rem;
  }
}
@media (min-width: 461px) {
  .about-skills .about-div {
    margin: 0 2rem;
  }
}
@media (min-width: 768px) {
  .about-skills .about-div {
    margin: 0 2rem;
  }
}
.about-skills .about-div .about-skill-logo {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
}
.about-skills .about-div .about-skill-logo:first-child {
  margin-left: 2rem;
}
@media (min-width: 461px) {
  .about-skills .about-div .about-skill-logo {
    margin: 0 0.5rem 0.5rem 0;
  }
}
.about-skills .about-div .about-skill-name {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}
@media (min-width: 461px) {
  .about-skills .about-div .about-skill-name {
    margin: 0;
  }
}

/*# sourceMappingURL=about.css.map */
