#work-section {
  padding: 7rem 0;
  background-color: #010b39;
}
@media (max-width: 460px) {
  #work-section {
    padding: 4rem 0;
  }
}
@media (min-width: 461px) {
  #work-section {
    padding: 4rem 0;
  }
}
@media (min-width: 768px) {
  #work-section {
    padding: 4rem 0;
  }
}
@media (min-width: 1000px) {
  #work-section {
    padding: 6rem 0;
  }
}
@media (min-width: 1800px) {
  #work-section {
    padding: 10rem 0;
  }
}
#work-section h2 {
  color: white;
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 10px;
  margin-bottom: 2rem;
}
@media (min-width: 1800px) {
  #work-section h2 {
    font-size: 3rem;
  }
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 460px) {
  .work-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 461px) {
  .work-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .work-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .work-container {
    flex-direction: row;
  }
}

.works {
  width: 100%;
  border-radius: 15px;
  margin: 0.3rem;
}
@media (max-width: 460px) {
  .works {
    width: 90%;
    margin: 0 0 2rem;
  }
}
@media (min-width: 461px) {
  .works {
    width: 80%;
    margin: 0 0 1rem;
  }
}
@media (min-width: 768px) {
  .works {
    width: 90%;
    margin: 0 0 2rem;
  }
}
@media (min-width: 1000px) {
  .works {
    width: 40%;
    margin: 2rem;
  }
}
@media (min-width: 1800px) {
  .works {
    width: 33%;
    margin: 2rem 0;
  }
}
.works img {
  max-width: 50rem;
  border-radius: 11px;
  overflow: hidden;
}
@media (max-width: 460px) {
  .works img {
    width: 100%;
  }
}
@media (min-width: 461px) {
  .works img {
    width: 100%;
    margin: 0rem 0 1rem;
  }
}
@media (min-width: 768px) {
  .works img {
    max-width: 30rem;
    margin: 0 auto;
  }
}
.works .work-hover {
  background-color: black;
  opacity: 0.85;
  color: white;
  border-radius: 10px;
  animation: fadeIn 0.3s;
  padding: 23% 0;
  width: 100%;
  margin: -19rem 0 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}
@media (min-width: 461px) {
  .works .work-hover {
    padding: 24.5% 0;
    max-width: 20rem;
    margin: -20.76rem 0 0;
  }
}
.works .work-hover .work-name {
  margin: 1rem 0 0;
  font-size: 25px;
  font-weight: bolder;
}
.works .work-hover .work-tech {
  margin: 2.5% 0 1rem;
  color: crimson;
  font-size: 20px;
  font-weight: bolder;
}
.works .work-hover .work-button {
  text-transform: uppercase;
  border: 3px solid crimson;
  color: crimson;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  width: 30%;
  margin: 10% auto 0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.works .work-hover .work-button:hover {
  color: #fff;
  background-color: crimson;
  cursor: pointer;
  transition: 0.3s;
}

/*# sourceMappingURL=work.css.map */
